__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
data/*
!data/.gitkeep
checkpoints/
runs/
outputs/
.DS_store
.vscode/
data/*.csv

data/*.csv

# keep corpus out of git
/data/lyrics.txt
/data/*.csv
/data/raw/

# keep big files out of git
/data/lyrics.txt
/data/*.csv
/checkpoints/*.pt
